@import url("../styles/globals.css");

.contact__page {
  width: 100%;
  background-color: #fff;
}

.contact__slide {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: var(--menuOffset);
  height: 100vh;
}

.contact__form {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact__graph {
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  color: white;
  font-family: montreal;

  padding: var(--gutterSTD);
}

.contact__graph__data {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.contact__graph__stat {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.contact__globe {
  width: 80%;
  aspect-ratio: 1/1;
}

.contact__header {
  display: flex;
  gap: var(--gutterSTD);
  padding: var(--gutterSTD) var(--gutterSTD) var(--gutterSTD) var(--gutterMED);
  align-items: center;
  justify-content: space-between;
}

.contact__title {
  font-family: joyride;
  text-transform: uppercase;
  font-size: 32pt;
}

.contact__description {
  margin: var(--gutterSTD);
  padding: var(--gutterSTD) 0px;
  border-top: var(--borderSTD__black);
  border-bottom: var(--borderSTD__black);
  font-family: montreal;
  text-transform: uppercase;
  font-size: 16pt;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact__contactinfo {
  font-family: montreal;
  margin: var(--gutterSTD);

  display: flex;
  flex-direction: column;
  gap: var(--gutterSTD);
}

.form__container {
  font-family: montreal;
  padding-top: var(--gutterSTD);
  border-top: var(--borderSTD__black);
  display: flex;
  flex-direction: column;
  gap: var(--gutterSML);
  flex-grow: 1;
  height: 100%;
  box-sizing: border-box;
}

.form__field__container {
  display: flex;
  gap: var(--gutterSML);
  align-items: center;
  justify-content: center;
}

.form__label {
  text-transform: uppercase;
  min-width: 80px;
}

.form__input {
  flex-grow: 1;
  border: none;
  border-bottom: var(--borderSTD__black);

  padding: var(--gutterSML);
  box-sizing: border-box;

  font-family: montreal;
  font-size: 14pt;
}

.form__input:invalid {
  background-color: #efefef;
  border-color: red;
}

.form__text {
  height: 40px;
}

.form__field__container:has(.form__area) {
  flex-grow: 2;
}

.form__area {
  height: 100%;
}

/* .form__footer {
} */

.form__submit {
  width: 100%;
  height: 100%;
  max-height: 60px;

  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: end;

  background-color: transparent;
  border: none;

  overflow: hidden;
  padding: 0px;

  cursor: pointer;
}

.form__barcode {
  height: 100%;
  max-width: 100%;

  flex-grow: 1;
  object-fit: cover;
}

.form__submit__text {
  background-color: black;
  color: white;
  font-size: 24pt;
  border: none;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 160px;
}

.form__switcher {
  width: auto;
  flex-grow: 1;
  padding: var(--gutterSTD);
}

.form__cover__container {
  margin: var(--gutterSTD);
  padding-top: var(--gutterSTD);
  border-top: var(--borderSTD__black);
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: var(--gutterSTD);

  font-family: montreal;
}

@media (max-width: 1390px) {
  .contact__globe {
    width: 80%;
  }

  .contact__title {
    font-size: 24pt;
  }

  .contact__qr {
    width: 48px;
  }

  .contact__description {
    flex-direction: column;
  }
}

@media (max-width: 970px) {
}

@media (max-width: 770px) {
  /* single column layout */
  .contact__slide {
    grid-template-columns: 1fr;
    grid-template-rows: 90dvh auto;
    height: auto;
  }

  .contact__title {
    font-size: 16pt;
  }

  .contact__globe {
    max-width: 70%;
  }

  .form__field__container {
    flex-direction: column;
  }

  .form__label {
    width: 100%;
    text-align: left;
  }

  .form__input {
    width: 100%;
  }
}

@media (max-width: 590px) {
}
