.loader__cover {
  background-color: black;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 1;
  transition: 0.3s linear;
}

.loader__hidden {
  opacity: 0;
  pointer-events: none;
}

.loader__container {
  overflow: clip;
  width: 100px;
  aspect-ratio: 1/1;

  display: grid;
  gap: 5px;
  transform: rotate(90deg);
}

.loader__logo {
  height: 47.5px;
}

.loader__logo--1 {
  grid-area: 1/1 / span 1 / span 1;
  transform: translateX(-50%);
  animation: 5s both infinite ease-in-out sossisANI1;
}

.loader__logo--1bis {
  grid-area: 1/1 / span 1 / span 1;
  animation: 5s both infinite ease-in-out sossisANI1bis;
}

.loader__logo--2 {
  grid-area: 2/1 / span 1 / span 1;
  animation: 5s both infinite ease-in-out sossisANI2;
}

.loader__logo--2bis {
  grid-area: 2/1 / span 1 / span 1;
  animation: 5s both infinite ease-in-out sossisANI2bis;
}

@keyframes sossisANI1 {
  0% {
    transform: translateX(-50%);
  }
  25% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(0%);
  }
  75% {
    transform: translateX(55%);
  }
  100% {
    transform: translateX(55%);
  }
}

@keyframes sossisANI1bis {
  0% {
    transform: translateX(-155%);
  }
  25% {
    transform: translateX(-105%);
  }
  50% {
    transform: translateX(-105%);
  }
  75% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes sossisANI2 {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-105%);
  }
  100% {
    transform: translateX(-105%);
  }
}

@keyframes sossisANI2bis {
  0% {
    transform: translateX(105%);
  }
  25% {
    transform: translateX(55%);
  }
  50% {
    transform: translateX(55%);
  }
  75% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0%);
  }
}
